.bg-dark {
    background-color: #5514b4 !important;
    padding: 0px;
}
.logo-txt {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    left: 10px;
}
a.nav-link {
    font-size: 1vw;
    padding-top: 23px !important;
}
.nav-link {
    border-bottom: 3px solid transparent;
    transition: all ease 0.5s;
}
.nav-link.active {
    border-bottom: 3px solid #ffe600;
}
.otherlinks .dropdown-menu {
    right: 0px !important;
    left: auto;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: bold !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    color: white !important;
    font-weight: bold !important;
}
.otherlinks .dropdown-menu {
    background: #000;
    border-radius: 0px;
    min-width: 14rem;
    border-top: 2px solid #ffe600;
    top: 104%;
}

.otherlinks .dropdown-menu a {
    color: #999;
    font-size: 2vh;
    padding: 4px 13px;
    font-weight: bold;
}
.otherlinks .dropdown-menu a:hover {
    background: #333;
}
.otherlinks .dropdown-toggle::after{
    border: none !important;
}
span.dropdown-icons {
    display: inline-block;
    width: 10px;
    margin: 0 0 0 4px;
}

span.dropdown-icons img {
    width: 100%;
}
.navbar-brand {
    font-size: 1.4vw !important;
}
.tp-footer {
	padding: 9px 0;
	background: #333;
	color: #aaa;
	font-size: 12px;
}
.tp-footer-center{
    text-align: center;
    font-size: 1.7vh;
}